<div class="flex flex-col justify-center items-center h-[calc(100vh_-_300px)]">
  <%= image_tag 'icons/folder-outline-add-gray.svg' %>
  <div class="font-semibold mt-6 text-lg">No contracts</div>
  <div class="text-gray-500 mt-1">Get started by creating a new contract</div>
  <div class='inline-flex btn btn-primary nav-link text-white hover:text-white text-sm p-5 mt-6' data-controller="settings" data-action="click->settings#openModal" data-modal-id="newContract">
    <%= render_svg "icons/plus", styles: "mr-2" %> New Contract
  </div>
</div>