<div id="<%= dom_id blog %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Title</p>
    <%= blog.title %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Content</p>
    <%= blog.content %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">User</p>
    <%= blog.user_id %>
  </div>
</div>
