<div class="flex items-center gap-3 bg-red-50 w-fit py-1 px-2 rounded-lg border-red-100 border-2">
  <%= image_tag "icons/warning-alert.svg", class: 'w-5' %>
  <div class="text-red-800 font-semibold whitespace-nowrap text-sm">Expiring in 30 Days</div>
</div>
