<div id="file-upload-status" aria-live="assertive" class="hidden pointer-events-none fixed flex items-end px-4 py-6 sm:items-start sm:p-6 right-0 w-96 z-50">
  <div class="flex w-full items-start space-y-4 sm:items-end">
    <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-gray-50 shadow-lg ring-1 ring-black ring-opacity-5">
      <div class="p-4">
        <div class="flex items-start justify-center">
          <div class="flex-shrink-0">
            <%= loader_svg(id: 'file-upload-inprogress-icon', classes: 'mr-1') %>
            <%= checked_svg_filled(id: 'file-upload-complete-icon', classes: 'mr-1 w-5 h-5 hidden') %>
          </div>
          <div class="ml-3 w-0 flex-1 pt-0.5">
            <p id="upload-file-label" class="text-sm font-bold text-gray-600">Uploading files</p>
            <p class="text-sm font-medium text-gray-500">
              Successful: <span id="successul-upload-file-count">0</span>,
              Failed: <span id="failed-upload-file-count">0</span>
            </p>

          </div>
          <div x-data class="ml-4 flex flex-shrink-0">
            <button type="button" class="inline-flex rounded-md bg-gray-50 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" @click="$('#file-upload-status').addClass('hidden')">
              <span class="sr-only">Close</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
